<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main parent-height-100">
    <h1 class="page-header">Dashboard - {{ summary.day }}</h1>

    <div class="col-md-4 checks-fixed-column">
        <div class="row list-group-item text-center">
            <div class="row">
                <h5 class="list-group-item-heading list-group-item-header">
                    <div class="col-sm-2">#</div>
                    <div class="col-sm-4">Date</div>
                    <div class="col-sm-3">Time</div>
                    <div class="col-sm-2">Income</div>
                </h5>
            </div>
            <div class="row list-group-item row-item {{isActive}}" ng-repeat="item in items | orderBy:'id':true"
                 ng-click="getDetailsForCheck(item)">
                <div class="col-sm-2">{{ item.id }}</div>
                <div class="col-sm-4">{{ item.date }}</div>
                <div class="col-sm-3">{{ item.at }}</div>
                <div class="col-sm-2">{{ item.checkTotalSum.toFixed(2) }}</div>
            </div>
        </div>
    </div>

    <div class="col-md-8 checks-fixed-column">
        <div class="row list-group-item text-center">
            <div class="row">
                <h5 class="list-group-item-heading list-group-item-header">
                    <div class="col-md-8">Name</div>
                    <div class="col-sm-1 padding-0">Quantity</div>
                    <div class="col-sm-1 padding-0">Original Price</div>
                    <div class="col-sm-1 padding-0">Discount</div>
                    <div class="col-sm-1 padding-0">Sale Price</div>
                </h5>
            </div>
            <div class="row row-item" ng-repeat="item in activeCheck.detail | orderBy:'name':true">
                <div class="col-md-8">{{ item.name }}</div>
                <div class="col-sm-1 padding-0">{{ item.quantity }}</div>
                <div class="col-sm-1 padding-0">{{ item.retailPriceWithoutDiscount }}</div>
                <div class="col-sm-1 padding-0">{{ item.discount }}</div>
                <div class="col-sm-1 padding-0">{{ item.retailPrice }}</div>
            </div>
        </div>
    </div>
</div>